.process {
    height: 480px;
    width: 100%;
}

.process-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.process-container-hide-trace {
    width: 20px;
    margin: 0 10px;
    position: absolute;
    top: 0;
    background-color: #fefaf9;
    z-index: 0;
}

.process-container-media-scroll {
    height: 480px;
    width: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
}

.process-container-media-line {
    position: relative;
    visibility: hidden;
    height: 100vh;
    width: 2px;
    background: linear-gradient(to bottom, var(--light-green) 90vh, #fefaf9 100vh);
    z-index: -1;
    left: 19px;
}

.process-container-media-scroll div:nth-child(1) {
    height: 160px;
    width: 30px;
    flex-shrink: 0;
    position: absolute;
    top: -60px;
    background: linear-gradient(180deg,#fefaf9 60px, rgba(255, 255, 255, 0) 160px);
}

.process-container-media-scroll div:nth-child(2) {
    height: 160px;
    width: 30px;
    flex-shrink: 0;
    position: absolute;
    bottom: -60px;
    background: linear-gradient(0deg,#fefaf9 60px, rgba(255, 255, 255, 0) 160px);
}

.active {
    visibility: visible !important;
    position: fixed !important;
    top: -50vh;
}

.elapsed {
    visibility: visible !important;
    background: unset !important;
    background-color: var(--light-green) !important;
    position: absolute;
}

.process-container-title {
    height: 200px;
    display: flex;
    gap: 100px;
    margin: 10px auto 50px auto;
}

.process-container-title h1 {
    font-size: 22pt;
}

.process-container-title p {
    max-width: 450px;
    font-size: 12pt;
    font-weight: 500;
    color: rgb(95, 95, 95);
}

.process-container-infos {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
}

@media screen and (min-width: 770px) and (max-width: 1430px) {
    .process {
        height: 830px;
    }

    .process-container-media-scroll {
        height: 830px;
    }

    .process-container-infos-item {
        margin-left: unset !important;
    }

    .process-container-infos div:nth-child(2) {
        margin-top: 20px !important;
        margin-left: -20px !important;
    }

    .process-container-infos div:nth-child(3) {
        margin-top: -40px;
    }

    .process-container-infos div:nth-child(4) {
        margin-top: -20px !important;
        margin-left: -20px !important;
    }

    .process-container-infos {
        flex-wrap: wrap;
        max-width: 900px;
    }
}

@media screen and (max-width: 870px) {
    .process {
        height: 910px;
    }

    .process-container-media-scroll {
        height: 910px;
    }

    .process-container-title {
        flex-direction: column !important;
        gap: 20px 0 !important;
    }
}

@media screen and (max-width: 530px) {
    .process-container-title {
        max-width: 300px;
    }
}

@media screen and (min-width: 691px) and (max-width: 770px) {
    .process {
        height: 800px;
    }

    .process-container-media-scroll {
        height: 800px;
    }

    .process-container-infos-item {
        height: 300px !important;
        width: 300px !important;
    }

    .process-container-infos div:nth-child(3) {
        margin-top: -20px !important;
    }

    .process-container-infos div:nth-child(4) {
        margin-top: -20px !important;
    }

    .process-container-infos-item div {
        width: 250px !important;
    }

    .process-container-infos-item div h3 {
        font-size: 16pt !important;
    }

    .process-container-infos-item div p {
        font-size: 10pt !important;
    }

    .process-container-infos {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 690px) {
    .process {
        height: 1360px;
    }

    .process-container-media-scroll {
        height: 1360px;
    }

    .process-container-infos-item {
        height: 300px !important;
        width: 300px !important;
        margin-left: unset !important;
        margin-top: -20px;
    }

    .process-container-infos-item:nth-child(1) {
        margin-top: unset !important;
    }

    .process-container-infos-item div {
        width: 250px !important;
    }

    .process-container-infos-item div h3 {
        font-size: 16pt !important;
    }

    .process-container-infos-item div p {
        font-size: 10pt !important;
    }

    .process-container-infos {
        flex-wrap: wrap;
        max-width: 500px;
    }
}

.process-container-infos-item:nth-child(1) {
    margin-left: unset !important;
}

.process-container-infos-item {
    height: 350px;
    width: 350px;
    margin-left: -20px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: transparent;
    border: 1px solid black;
    box-shadow: 0 0 6px 1px rgb(224, 224, 224);
}

.process-container-infos-item div {
    width: 300px;
}

.process-container-infos-item div h3 {
    font-size: 22pt;
    padding: 10px 0;
}

.process-container-infos-item div p {
    padding: 10px 0;
    font-weight: 500;
    line-height: 22px;
}