.process {
    height: 1560px;
    width: 100%;
}

.process-container {
    display: flex;
}

.process-container-hide-trace {
    width: 40px;
    margin: 0 10px;
    position: absolute;
    top: 0;
    background-color: #fefaf9;
    z-index: 0;
}

.process-container-media-scroll {
    height: 100%;
    width: 40px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
}

.process-container-media-scroll div {
    position: static;
    visibility: hidden;
    height: 100vh;
    width: 2px;
    background-color: #397CDF;
    z-index: -1;
    left: 29px;
}

.active {
    visibility: visible !important;
    position: fixed !important;
    top: -50vh;
}

.elapsed {
    visibility: visible !important;
    position: absolute !important;
}

.process-container-infos {
    width: 80%;
    margin-top: 0px;
}

.process-container-infos div {
    height: 500px;
    max-width: 375px;
    margin-top: 20px;
    padding-right: 10px;
}

.process-container-infos div h3 {
    font-size: 24pt;
    font-style: italic;
    padding: 10px 0;
}

.process-container-infos div ul {
    list-style: none;
}

.process-container-infos div ul li {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.process-container-infos div p {
    padding: 10px 0;
}