.hero {
    height: 750px;
    width: 100%;
    background: linear-gradient(to bottom, #cfd7c4 10%, #35aa6c 60%, #008154 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

@media screen and (max-width: 560px) {
    .hero {
        height: 660px;
    }

    .hero-container {
        width: 300px !important;
    }

    .hero-container-title img {
        width: 300px !important;
        margin: 30px 0 0 0 !important;
    }

    .hero-container-content h3 {
        font-size: 10pt;
    }

    .hero-container-content h1 {
        font-size: 24pt;
    }

    .hero-container-content p {
        font-size: 8pt;
    }

    .hero-container-button {
        margin-top: 20px !important;
    }
}

.hero-container {
    width: 100%;
    max-width: 500px;
    height: 100%;
    color: rgb(1, 3, 11);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-container-title img {
    width: 500px;
    margin: 120px 0 35px 0;
}

.hero-container-content {
    width: 100%;
    margin-top: 30px;
}

.hero-container-content h3 {
    font-size: 14pt;
    text-transform: uppercase;
    color: #244d3e;
}

.hero-container-content h1 {
    font-size: 28pt;
    padding: 20px 0;
}

.hero-container-content p {
    font-size: 12pt;
    font-weight: 550;
    letter-spacing: 1px;
}

.hero-container-button {
    margin-top: 45px;
}

.hero-container-button button {
    height: 60px;
    width: 260px;
    background-color: #fefaf9;
    -webkit-box-shadow: 5px 5px 21px -7px #000000; 
    box-shadow: 5px 5px 21px -7px #000000;
    border: 0;
    border-radius: 5px;
    font-size: 14pt;
    padding: 5px;
    letter-spacing: 1px;
}

.hero-container-down {
    height: 80px;
    font-size: 64pt;
    position: absolute;
    bottom: 5px;
}