.hero {
    height: 770px;
    width: 100%;
    background: #fefaf9;
    background: linear-gradient(to bottom, #fefaf9 0%, #FFF6E8 15%, #ffa736 65%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

@media screen and (max-width: 700px) {
    .hero {
        height: 590px;
    }

    .hero-container {
        width: 300px !important;
    }

    .hero-container-title img {
        width: 300px !important;
        margin: 50px 0 35px 0 !important;
    }

    .hero-container-content div:nth-child(1) p {
        font-size: 12pt !important;
    }

    .hero-container-content div:nth-child(2) p {
        font-size: 10pt !important;
    }

    .hero-container-content {
        width: 260px !important;
        margin-top: unset;
    }

    .hero-container-button {
        margin-top: 45px !important;
    }
}

.hero-container {
    width: 800px;
    height: 100%;
    color: rgb(1, 3, 11);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-container-title img {
    width: 500px;
    margin: 120px 0 35px 0;
}

.hero-container-content {
    width: 400px;
    margin-top: 30px;
}

.hero-container-content div:nth-child(1) p {
    padding: 5px 0;
    font-size: 14pt;
}

.hero-container-content div:nth-child(2) {
    margin-top: 40px;
}

.hero-container-content div:nth-child(2) p {
    font-size: 12pt;
    padding: 2px;
    line-height: 20px;
}

.hero-container-button {
    margin-top: 75px;
}

.hero-container-button button {
    height: 60px;
    width: 260px;
    background-color: #fefaf9;
    -webkit-box-shadow: 5px 5px 21px -7px #000000; 
    box-shadow: 5px 5px 21px -7px #000000;
    border: 0;
    border-radius: 5px;
    font-size: 14pt;
    padding: 5px;
    letter-spacing: 1px;
}

.hero-container-down {
    height: 80px;
    font-size: 64pt;
    position: absolute;
    bottom: 5px;
}