.hero {
    height: 660px;
    width: 100%;
    background: linear-gradient(#fff 0%, #df9739 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    text-align: center;
    padding: 10px;
}

.hero-container-title {
    font-size: 16pt;
    margin-bottom: 40px;
}

.hero-container-content div:nth-child(1) p {
    padding: 5px 0;
    font-size: 12pt;
}

.hero-container-content div:nth-child(2) {
    margin-top: 60px;
}

.hero-container-content div:nth-child(2) p {
    font-size: 10pt;
    padding: 2px;
}

.hero-container-button {
    margin-top: 70px;
}

.hero-container-button button {
    height: 60px;
    width: 230px;
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14pt;
    padding: 5px;
}