.cta-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2b2e34;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.cta-open-close {
    background-color: #00000000;
    color: white;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 18pt;
    font-weight: 100;
}

.cta-open-content {
    display: flex;
    height: 630px;
    gap: 0 20px;
}

.cta-open-content-form-description {
    height: 100%;
    color: #fefaf9;
}

.cta-open-content-form-div {
    height: 100%;
    width: 460px;
    background-color: #fefaf9;
    padding: 20px 30px;
    border-radius: 10px;
}

.cta-open-content-form-div form {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.cta-open-content-form-div form label {
    font-weight: 700;
    font-size: 10pt;
    padding: 10px 0;
}

.cta-open-content-form-div form input, 
.cta-open-content-form-div form select,
.cta-open-content-form-div form textarea {
    border: 0;
    background-color: #fefaf9;
    box-shadow: 0 0 6px 1px rgb(177, 177, 177);
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    max-width: 100%;
}

.cta-open-content-form-div form textarea {
    height: 60px;
    max-height: 60px;
    resize: none;
}

.cta-open-content-form-div form button {
    height: 45px;
    width: 80%;
    margin: 15px auto;
    border: 0;
    border-radius: 6px;
    font-weight: 700;
    font-size: 10pt;
    background-color: var(--light-green);
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}

.form-row {
    display: flex;
    gap: 0 20px;
}