.benefit {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.benefit-container {
    height: 100%;
}

.benefit-container-title {
    margin-bottom: 5px;
    padding: 0 10px;
    font-size: 18pt;
    font-weight: 500;
    text-align: center;
}

.benefit-container-bulletpoints {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.benefit-container-bulletpoints-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.benefit-container-bulletpoints-collection div {
    height: 240px;
    width: 350px;
    margin: 0 5px;
}

.benefit-container-bulletpoints-collection div h3 {
    padding: 20px 10px 10px 10px;
    color: var(--light-green);
    font-weight: 500;
    height: 75px;
}

.benefit-container-bulletpoints-collection div ul {
    list-style: none;
}

.benefit-container-bulletpoints-collection div ul li {
    height: 70px;
    display: flex;
    align-items: center;
}

.benefit-container-bulletpoints-collection div ul li span:nth-child(1) {
    padding: 10px;
}

@media screen and (min-width: 734px) and (max-width: 1454px) {
    .benefit {
        height: 525px;
    }
}

@media screen and (max-width: 734px) {
    .benefit {
        height: 990px;
    }
}