.benefit {
    height: 225px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.benefit-container {
    height: 100%;
}

.benefit-container-title {
    margin-bottom: 5px;
    padding: 0 10px;
    font-size: 18pt;
    font-weight: 500;
    text-align: center;
}

.benefit-container-bulletpoints {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.benefit-container-bulletpoints-collection {
    display: flex;
}

.benefit-container-bulletpoints-collection div {
    height: 200px;
    width: 300px;
    margin: 0 5px;
}

.benefit-container-bulletpoints-collection div h3 {
    padding: 20px 10px 10px 10px;
    color: #ffa736;
    font-weight: 500;
    height: 75px;
}

.benefit-container-bulletpoints-collection div ul {
    list-style: none;
}

.benefit-container-bulletpoints-collection div ul li {
    height: 50px;
    display: flex;
    align-items: center;
}

.benefit-container-bulletpoints-collection div ul li span:nth-child(1) {
    padding: 10px;
}

@media screen and (max-width: 980px) {
    .benefit {
        height: 425px;
    }

    .benefit-container-bulletpoints {
        flex-direction: column !important;
    }
}

@media screen and (max-width: 620px) {
    .benefit {
        height: 625px;
    }

    .benefit-container-bulletpoints-collection {
        flex-direction: column !important;
    }
}