.section-break {
    height: 3px;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.section-break div {
    height: 100%;
    background-color: rgb(170, 166, 166);
}