:root {
    --vh: 1vh;
    --main-green: #00452D;
    --light-green: #4ab37b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

img {
    -webkit-user-drag: none;
}

body {
    width: 100%;
    min-width: 320px;
    font-family: "Inter";
    background-color: #fefaf9;
    overflow-x: hidden;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/Inter-VariableFont.ttf");
}